# Práctica Final de Machine Learning, Modelos Supervisados

# Javier Gilabert Sabater

In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer

## Parte 1: Predicción de duración de viajes

### Pregunta 1: Realizar preprocesamiento de datos: imputar valores faltantes, transformar variables categóricas, estandarizar variables numéricas, etc.

In [103]:
uber_examples = pd.read_csv('uber_time_examples.csv')
uber_examples.head(5)

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10
0,0,01-07 17:04:08,2,1.20,263,141,12.513054,297.430685,56.317405,405.20,0.408689,126.689773
1,1,03-02 17:41:40,1,0.88,246,68,6.256527,278.205127,27.160167,314.88,-0.256911,126.693467
2,2,02-17 12:15:00,3,7.61,24,13,18.769581,27.141964,5.192385,44.61,56.880789,126.615789
3,3,03-30 13:59:42,1,1.50,239,163,6.256527,270.288721,65.104518,403.50,1.218689,126.686311
4,4,02-14 18:26:55,1,1.20,142,229,6.256527,160.589952,91.465857,372.20,0.408689,126.689773

In [104]:
uber_labels = pd.read_csv('uber_time_labels.csv')
uber_labels.head(5)

   id  duration
0   0     455.0
1   1     413.0
2   2    1501.0
3   3     514.0
4   4     605.0

In [118]:
random_num = 1000
uber_df = pd.merge(uber_examples, uber_labels, on = 'id', how = 'left').sample(20000, random_state = random_num)
uber_df.head(5)

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,duration
262820,262820,01-10 07:52:55,1,8.37,138,100,6.256527,156.066291,39.941422,246.37,69.025589,126.607017,2040.0
53184,53184,02-13 11:48:50,5,6.47,137,83,31.282635,154.935376,33.151380,226.47,40.829589,126.628947,1771.0
336054,336054,03-09 21:13:34,1,4.80,114,145,6.256527,128.924327,57.915062,263.80,22.008689,126.648222,1694.0
51332,51332,03-26 09:18:45,5,2.18,238,163,31.282635,269.157806,65.104518,403.18,3.721089,126.678462,685.0
176968,176968,02-01 14:38:33,1,1.60,151,142,6.256527,170.768188,56.716819,294.60,1.528689,126.685156,467.0

In [122]:
valores_faltantes = uber_df.isnull()

In [124]:
total_valores_faltantes_por_columna = valores_faltantes.sum()
total_valores_faltantes_por_columna

id            0
feature_0     0
feature_1     0
feature_2     0
feature_3     0
feature_4     0
feature_5     0
feature_6     0
feature_7     0
feature_8     0
feature_9     0
feature_10    0
duration      0
dtype: int64

In [127]:
uber_df.dtypes

id              int64
feature_0      object
feature_1       int64
feature_2     float64
feature_3       int64
feature_4       int64
feature_5     float64
feature_6     float64
feature_7     float64
feature_8     float64
feature_9     float64
feature_10    float64
duration      float64
dtype: object

In [128]:
uber_df.nunique()

id            20000
feature_0     19963
feature_1         7
feature_2      1483
feature_3       136
feature_4       216
feature_5         7
feature_6       136
feature_7       216
feature_8     11114
feature_9      1483
feature_10     1483
duration       2777
dtype: int64

In [133]:
uber_df['feature_1'].unique()

array([1, 5, 2, 4, 0, 3, 6])

In [ ]:
# Cambio de tipología de variables

uber_df['id'] = uber_df['id'].astype(str) # el identificador no se considera un dato que se deba tratar numericamente
uber_df['feature_0'] = pd.to_datetime(uber_df['feature_0'], format='%m-%d %H:%M:%S') # la fecha se puede tratar mejor en un formato propio
pd.DataFrame(uber_df.dtypes).T

### Pregunta 2: Crear nuevas características (features) que puedan mejorar el poder predictivo del modelo.

### Pregunta 3: Seleccionar las características más relevantes para predecir la duración del viaje. 
- Utilizar técnicas de selección de características basadas en una sola variable o SelectFromModel. 
- Evitar Recursive feature elimination debido a su alto coste computacional.

### Pregunta 4: Entrenar un modelo sencillo como base y medir su MAPE (Mean Absolute Percentage Error) en el conjunto de test. Luego, elegir y entrenar dos modelos más avanzados (por ejemplo, ensambladores, máquinas de soporte vectorial, modelos bayesianos, redes neuronales) y comparar sus MAPEs.

### Pregunta 5: Optimizar los hiperparámetros de los dos últimos modelos utilizando validación cruzada (cross-validation) y comparar sus MAPEs. Elegir el mejor modelo basándose en estos resultados.

## Parte 2: Detección de emergencias en tweets

### Pregunta 1: Extraer los embeddings del texto de los tweets utilizando un modelo pre-entrenado de Huggingface.

### Pregunta 2: Crear y entrenar una pequeña red neuronal que utilice los embeddings, la palabra clave (keyword) y la ubicación (location) para predecir si un tweet está relacionado con una emergencia o no. Gestionar los valores faltantes y agrupar las variables categóricas de manera adecuada.