# Carga y Liempieza de los datos

 - Junta la fehca en una sola variable
 - Filtra por los meses que queremos trabajar
 - Filtra por reservas y cancelaciones
 - Datos en formato semanas
 - Guardar csv para poder utilizarlo en su posterior analisis

In [1]:
# Importar librerias
import numpy as np
import pandas as pd

In [2]:
### Leer documento
df = pd.read_csv("H2.csv", sep = ",")

In [3]:
df.ReservationStatus.unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [4]:
df.IsCanceled.unique()

array([0, 1])

In [5]:
# df.iloc[:8]
# Vemos como los valores "No-Show" y "Canceled" son clasificados como 1, "Check-out" esta clasificado como 0

In [6]:
# Creamos un diccionario de mapeo de nombres de meses a números
month_mapping = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

# Aplicamos el mapeo a la columna 'Month' para convertir los nombres de meses a números
df['mes_numerico'] = df['ArrivalDateMonth'].map(month_mapping)

In [7]:
# Create a new column 'ArrivalDate' by combining the year, month, week number, and day of month
df['ArrivalDate'] = pd.to_datetime(df['ArrivalDateYear'].astype(str) + '-' +
                                    df['mes_numerico'].astype(str) + '-' +
                                    df['ArrivalDateDayOfMonth'].astype(str))

# Drop the individual columns if needed
df = df.drop(['ArrivalDateYear', 'ArrivalDateMonth', 'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth', 'mes_numerico'], axis=1)

In [8]:
df.ArrivalDate

0       2015-07-01
1       2015-07-01
2       2015-07-01
3       2015-07-01
4       2015-07-02
           ...
79325   2017-08-30
79326   2017-08-31
79327   2017-08-31
79328   2017-08-31
79329   2017-08-29
Name: ArrivalDate, Length: 79330, dtype: datetime64[ns]

In [9]:
df = df.loc[(df.ArrivalDate >= "2015-07-27") & (df.ArrivalDate <= "2017-08-31")]
df

,IsCanceled,LeadTime,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,ArrivalDate
417,1,27,1,1,2,0.0,0,BB,PRT,Groups,...,1,NULL,0,Transient-Party,62.00,0,0,Canceled,2015-07-02,2015-07-27
418,0,25,1,1,2,0.0,0,BB,ESP,Groups,...,1,NULL,0,Transient-Party,62.00,0,0,Check-Out,2015-07-29,2015-07-27
419,1,25,1,1,2,0.0,0,BB,PRT,Groups,...,1,NULL,0,Transient-Party,62.00,0,0,Canceled,2015-07-22,2015-07-27
420,1,25,1,1,2,0.0,0,BB,PRT,Groups,...,1,NULL,0,Transient-Party,62.00,0,0,Canceled,2015-07-22,2015-07-27
421,0,25,1,1,2,0.0,0,BB,ESP,Groups,...,1,NULL,0,Transient-Party,62.00,0,0,Check-Out,2015-07-29,2015-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79325,0,23,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,394,NULL,0,Transient,96.14,0,0,Check-Out,2017-09-06,2017-08-30
79326,0,102,2,5,3,0.0,0,BB,FRA,Online TA,...,9,NULL,0,Transient,225.43,0,2,Check-Out,2017-09-07,2017-08-31
79327,0,34,2,5,2,0.0,0,BB,DEU,Online TA,...,9,NULL,0,Transient,157.71,0,4,Check-Out,2017-09-07,2017-08-31
79328,0,109,2,5,2,0.0,0,BB,GBR,Online TA,...,89,NULL,0,Transient,104.40,0,0,Check-Out,2017-09-07,2017-08-31
79329,0,205,2,7,2,0.0,0,HB,DEU,Online TA,...,9,NULL,0,Transient,151.20,0,2,Check-Out,2017-09-07,2017-08-29

In [10]:
df = df.set_index('ArrivalDate')
df.head()

,IsCanceled,LeadTime,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
ArrivalDate,,,,,,,,,,,,,,,,,,,,,
2015-07-27,1,27,1,1,2,0.0,0,BB,PRT,Groups,...,Non Refund,1,NULL,0,Transient-Party,62.0,0,0,Canceled,2015-07-02
2015-07-27,0,25,1,1,2,0.0,0,BB,ESP,Groups,...,No Deposit,1,NULL,0,Transient-Party,62.0,0,0,Check-Out,2015-07-29
2015-07-27,1,25,1,1,2,0.0,0,BB,PRT,Groups,...,No Deposit,1,NULL,0,Transient-Party,62.0,0,0,Canceled,2015-07-22
2015-07-27,1,25,1,1,2,0.0,0,BB,PRT,Groups,...,No Deposit,1,NULL,0,Transient-Party,62.0,0,0,Canceled,2015-07-22
2015-07-27,0,25,1,1,2,0.0,0,BB,ESP,Groups,...,No Deposit,1,NULL,0,Transient-Party,62.0,0,0,Check-Out,2015-07-29

In [11]:
df_status = df.iloc[:, :1] 
df_status

             IsCanceled
ArrivalDate
2015-07-27            1
2015-07-27            0
2015-07-27            1
2015-07-27            1
2015-07-27            0
...                 ...
2017-08-30            0
2017-08-31            0
2017-08-31            0
2017-08-31            0
2017-08-29            0

[78123 rows x 1 columns]

In [12]:
df_filtrado = df_status[df_status['IsCanceled'] == 0]
# Hacer un resample con periodos semanales
df_w_r = df_filtrado.resample("W").count()
df_w_r.tail()

             IsCanceled
ArrivalDate
2017-08-06          452
2017-08-13          442
2017-08-20          465
2017-08-27          472
2017-09-03          248

In [13]:
df_w_r = df_w_r.iloc[:-1]

In [14]:
# Hacer un resample con periodos semanales
df_w = df_status.resample("W").sum()
df_w.tail()

             IsCanceled
ArrivalDate
2017-08-06          251
2017-08-13          275
2017-08-20          332
2017-08-27          206
2017-09-03          101

In [15]:
df_w = df_w.iloc[:-1]

In [16]:
### Guardar variables a csv
df_w = pd.DataFrame(df_w)
df_w_r = pd.DataFrame(df_w_r)

df_w.to_csv('cancelaciones.csv')
df_w_r.to_csv('reservas.csv')