# Trabajo Final Analisis Predictivo_Javier Gilabert Sabater

-----

# Predicciones Finales con los mejores modelos

## Prediccion Serie Reservas

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from darts import TimeSeries
from darts.utils.utils import SeasonalityMode, TrendMode, ModelMode

In [4]:
#obtain hierarchical dataset
from datasetsforecast.hierarchical import HierarchicalData

# compute base forecast no coherent
from statsforecast.core import StatsForecast
from statsforecast.models import AutoARIMA, Naive

In [5]:
mape_reservas = pd.read_csv('mape_reservas.csv')
mape_reservas

   Unnamed: 0 Modelo_Reservas      MAPE
0           0           ARIMA  0.197507
1           2      Best_THETA  0.222124
2           4           TBATS  0.228649
3           1             ETS  0.232204
4           3     Best_4THETA  0.337693

In [6]:
mape_cancelaciones = pd.read_csv('mape_cancelaciones.csv')
mape_cancelaciones

   Unnamed: 0 Modelo_Cancelaciones      MAPE
0           2           Best_THETA  0.547843
1           4                TBATS  0.583951
2           1                  ETS  0.602853
3           0                ARIMA  0.641825
4           3          Best_4THETA  0.671182

## Comparando los MAPE's de todos los modelos podemos ver que en el caso de las reservas el mejor modelo para predecir es ARIMA.
## En cambio, para predecir cancelaciones el mejor modelo es best Theta. Ahora pasare a predecir el proximo mes de las reservas y cancelaciones con sus respectivos modelos top.