Group members:
* Lucia Alonso Arias
* Javier Gilabert Sabater

In [1]:
import pandas as pd

In [2]:
# You can download the data from
# https://github.com/joashxu/prosper-loan-data/blob/master/dataset/prosperLoanData.csv

# Dataset description
# https://github.com/joashxu/prosper-loan-data/tree/master/dataset

# Read the Prosper Loan Data
df = pd.read_csv("prosperLoanData.csv")

ParserError: Error tokenizing data. C error: EOF inside string starting at row 78063

In [ ]:
df.columns

Index(['ListingKey', 'ListingNumber', 'ListingCreationDate', 'CreditGrade',
       'Term', 'LoanStatus', 'ClosedDate', 'BorrowerAPR', 'BorrowerRate',
       'LenderYield', 'EstimatedEffectiveYield', 'EstimatedLoss',
       'EstimatedReturn', 'ProsperRating (numeric)', 'ProsperRating (Alpha)',
       'ProsperScore', 'ListingCategory (numeric)', 'BorrowerState',
       'Occupation', 'EmploymentStatus', 'EmploymentStatusDuration',
       'IsBorrowerHomeowner', 'CurrentlyInGroup', 'GroupKey',
       'DateCreditPulled', 'CreditScoreRangeLower', 'CreditScoreRangeUpper',
       'FirstRecordedCreditLine', 'CurrentCreditLines', 'OpenCreditLines',
       'TotalCreditLinespast7years', 'OpenRevolvingAccounts',
       'OpenRevolvingMonthlyPayment', 'InquiriesLast6Months', 'TotalInquiries',
       'CurrentDelinquencies', 'AmountDelinquent', 'DelinquenciesLast7Years',
       'PublicRecordsLast10Years', 'PublicRecordsLast12Months',
       'RevolvingCreditBalance', 'BankcardUtilization',
       'AvailableBankcardCredit', 'TotalTrades',
       'TradesNeverDelinquent (percentage)', 'TradesOpenedLast6Months',
       'DebtToIncomeRatio', 'IncomeRange', 'IncomeVerifiable',
       'StatedMonthlyIncome', 'LoanKey', 'TotalProsperLoans',
       'TotalProsperPaymentsBilled', 'OnTimeProsperPayments',
       'ProsperPaymentsLessThanOneMonthLate',
       'ProsperPaymentsOneMonthPlusLate', 'ProsperPrincipalBorrowed',
       'ProsperPrincipalOutstanding', 'ScorexChangeAtTimeOfListing',
       'LoanCurrentDaysDelinquent', 'LoanFirstDefaultedCycleNumber',
       'LoanMonthsSinceOrigination', 'LoanNumber', 'LoanOriginalAmount',
       'LoanOriginationDate', 'LoanOriginationQuarter', 'MemberKey',
       'MonthlyLoanPayment', 'LP_CustomerPayments',
       'LP_CustomerPrincipalPayments', 'LP_InterestandFees', 'LP_ServiceFees',
       'LP_CollectionFees', 'LP_GrossPrincipalLoss', 'LP_NetPrincipalLoss',
       'LP_NonPrincipalRecoverypayments', 'PercentFunded', 'Recommendations',
       'InvestmentFromFriendsCount', 'InvestmentFromFriendsAmount',
       'Investors'],
      dtype='object')

## 1

Display the "LoanStatus" and "Investors" columns for the row with "ListingNumber" = 816108

In [ ]:
row = df[df['ListingNumber'] == 816108]

# Display the LoanStatus and Investors columns for the filtered row
print(row[['LoanStatus', 'Investors']])

   LoanStatus  Investors
44    Current          1

## 2

Create a new column called "SingleInvestor" which takes the value True if the column "Investors" is 1, and takes the value False otherwise

In [ ]:
## WRITE YOUR CODE HERE ##

df['SingleInvestor'] = df['Investors'] == 1
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors,SingleInvestor
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258,False
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1,True
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41,False
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158,False
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20,False

## 3

Count how many rows have NA as ProsperScore, and count how many rows have a ProsperScore higher than 8

In [ ]:
import pandas as pd

na_count = df['ProsperScore'].isna().sum()

higher_than_8_count = (df['ProsperScore'] > 8).sum()

print(f"Rows with 'NA' in ProsperScore: {na_count}")
print(f"Rows with ProsperScore greater than 8: {higher_than_8_count}")

Rows with 'NA' in ProsperScore: 29084
Rows with ProsperScore greater than 8: 13117

## 4

Display how many rows and mean "Investors" we have per CreditGrade

In [ ]:
result = df.groupby('CreditGrade')['Investors'].agg(['count', 'mean']).reset_index()

result.columns = ['CreditGrade', 'RowCount', 'MeanInvestors']

print(result)

  CreditGrade  RowCount  MeanInvestors
0           A      3315     186.689291
1          AA      3509     188.102023
2           B      4389     168.241285
3           C      5649     111.960701
4           D      5153      84.656705
5           E      3289      48.395257
6          HR      3508      30.510547
7          NC       141      28.617021

## 5

The "LoanFirstDefaultedCycleNumber" column captures the month in which the loan first defaulted. Create a column called fraud, that will be True if the loan was defaulted in less than 4 months. Calculate what is the fraud rate in the portfolio based on that new column.

In [ ]:
df['Fraud']= df['LoanFirstDefaultedCycleNumber']< 4
fraud_rate = df['Fraud'].mean()

print(f"Fraud Rate in the Portfolio: {fraud_rate:.2%}")

Fraud Rate in the Portfolio: 0.49%

## 6

Create a new column called is_student, which will be true if the column "Occupation" contains the text "Student". Count how many rows and what is the fraud rate based on the is_student column.

In [ ]:
df['Occupation'].fillna('Unknown', inplace=True)

df['is_student'] = df['Occupation'].str.contains('Student')

num_students = df['is_student'].sum()

fraud_rate_among_students = df[df['is_student']]['Fraud'].mean()

print(f"Number of Rows with 'is_student' True: {num_students}")
print(f"Fraud Rate Among Students: {fraud_rate_among_students:.2%}")

Number of Rows with 'is_student' True: 699
Fraud Rate Among Students: 0.43%

## 7

Study the fraud rate versus the "IncomeRange" columns. Is there any insight we can learn from it?

In [ ]:
fraud_rate_by_income = df.groupby('IncomeRange')['Fraud'].mean().reset_index()

fraud_rate_by_income = fraud_rate_by_income.sort_values(by='Fraud', ascending=False)

print(fraud_rate_by_income)

      IncomeRange     Fraud
6   Not displayed  0.014598
0              $0  0.011272
7    Not employed  0.006203
1       $1-24,999  0.005637
4  $50,000-74,999  0.004573
3  $25,000-49,999  0.004535
5  $75,000-99,999  0.004138
2       $100,000+  0.002076

Cuanto más income menos riesgo de fraude, las personas con income 0 son las que más fraude cometen, ignorando el fraude de las personas cuyo income no tenemos información.

## 8

Compute the correlation between the features in the next cell. Is there any insight we can learn from the correlation?

In [ ]:
#pip install pandas matplotlib seaborn

In [ ]:
import matplotlib as plt
import seaborn as sns

df = df.apply(pd.to_numeric, errors='coerce')

correlation_matrix = df.corr()

In [ ]:
## EXPLAIN YOUR INSIGHTS HERE ##